<h1> Welcome to To Do Wonders </h1>

<h2>To do list... Simplified</h2>

<button>New List</button>

<%= form_for List.new do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Name of new list" %>
  </div>

  <div class="form-group">
  <%= f.submit data:{ disable_with: false} %>
  </div>
<% end %>

<ul>
	<%= render @lists %>
</ul>