<li id="<%=task.id%>">
	<%= task.description %> <br>
	<%= button_to "Delete", task_path(task), method: :delete, data: {confirm: "Confirm that you have finished this task? This action is irreversible"} %>
</li>